.flex-all-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding:5px 10px;
    
    color: white;
    background:#517fc9 var(--main-bg-color);
    border: 4px solid white;
    border-radius:2px;
    cursor: pointer;
    

}

/* .slider{
    margin-top: 250px;
} */